@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  line-height: 1.5;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 19px;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

.spacing_big > * + * {
  margin-top: 8vh;
}

@media screen and (min-width: 800px) {
  .spacing_big > * + * {
    margin-top: calc(20vh);
  }
}

.spacing_medium > * + * {
  margin-top: 1.25rem;
}

.spacing_small > * + * {
  margin-top: .625rem;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
}

header {
  position: relative;
  min-height: 100vh;
  padding: 1rem 0;
}

header .overlap {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2072ff;
  -webkit-clip-path: polygon(100% 0, 100% 76%, 68% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 76%, 68% 100%, 0 100%, 0 0);
}

@media screen and (min-width: 800px) {
  header .overlap {
    -webkit-clip-path: polygon(50% 0%, 88% 0, 46% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 0%, 88% 0, 46% 100%, 0 100%, 0 0);
  }
}

@media screen and (min-width: 800px) {
  header .header_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 1fr;
        grid-template-columns: 50% 1fr;
    gap: 1.75em;
        grid-template-areas: "primary card";
  }
}

header nav a {
  color: #fff;
  font-size: 1.5rem;
}

header .visual_direction {
  background-color: white;
  border-radius: .9em;
  padding: 1em 1.5em;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 800px) {
  header .visual_direction {
    grid-area: card;
  }
}

header .visual_direction ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .visual_direction ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1rem;
}

header .visual_direction ul li p {
  font-size: inherit;
}

header .visual_direction ul li span {
  display: inline-block;
  margin-right: .75em;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

header .value_proposition {
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 800px) {
  header .value_proposition {
    text-align: left;
    grid-area: primary;
    margin-top: 0;
  }
}

header .value_proposition h1 {
  font-size: 2rem;
  line-height: 1.25em;
  text-transform: uppercase;
  font-weight: 600;
}

header .value_proposition p {
  font-size: 1.15rem;
}

header .value_proposition a {
  color: #222222;
  background-color: #fff;
  font-weight: bolder;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: .5em .95em;
  width: 75%;
  border-radius: .5em;
  font-size: 1.1rem;
  text-transform: capitalize;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */